<!-- Table -->
<table mat-table [dataSource]="dataSource" matSort>
  <!-- Custom Header for the First Data Column -->
  <ng-container matColumnDef="formName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>a1a1a1</th>
    <td mat-cell *matCellDef="let element">{{ element.formName }}</td>
  </ng-container>

  <!-- Custom Header for the Second Data Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>b2b2b2b</th>
    <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
  </ng-container>

  <!-- Custom Column 1 -->
  <ng-container matColumnDef="colTest1">
    <th *matHeaderCellDef mat-header-cell>a8a8a8a8a8</th>
    <td *matCellDef="let entity" mat-cell>SameA ( {{ entity.formName }} )</td>
  </ng-container>

  <!-- Custom Column 2 -->
  <ng-container matColumnDef="colTest2">
    <th *matHeaderCellDef mat-header-cell>f7f7f7f7f7</th>
    <td *matCellDef="let entity" mat-cell>SameB ( {{ entity.formName }} )</td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="fakeColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: fakeColumns"></tr>
</table>
