<!-- <ng-container matColumnDef="aaa">
  <th mat-header-cell *matHeaderCellDef> aaa </th>
  <td mat-cell *matCellDef="let element"> 111 </td>
</ng-container>

<ng-container matColumnDef="bbb">
  <th mat-header-cell *matHeaderCellDef> bbb </th>
  <td mat-cell *matCellDef="let element"> 222 </td>
</ng-container>


<h1>Mendeleev</h1>
<ec-table 
  [dataRaw]="dataRawMendeleev" 
  [propertiesSearchableWithInputText]="['name', 'progress']" 
  [propertiesSearchableWithSelectMenu]="['color', 'discoverer']" 
  [functionForSelectedRows]="functionForSelectedRows"
>

</ec-table>



<hr>
<hr>
<hr>
<hr>
<hr>

<h1>View forms</h1>
<ec-table 
[dataRaw]="dataRawViewForms" 
[propertiesSearchableWithInputText]="['Name']" 
[propertiesSearchableWithSelectMenu]="['Member_Type', 'Status']" 
[functionForSelectedRows]="functionForSelectedRows"
/>



<hr>
<hr>
<hr>
<hr>
<hr>

<hr>
<hr>
<hr>
<hr>
<hr> -->

<h1>Staff overview</h1>
<ec-table 
[dataRaw]="dataRawStaffOverview" 
/>