



<div class="filter-container">
  <!-- <mat-form-field appearance="standard"> -->
  <mat-form-field appearance="fill">
    <mat-label>Filter by Name</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Hydrogen">
  </mat-form-field>
</div>

<hr>

<mat-form-field>
  <mat-label>Colors</mat-label>
  <mat-select [formControl]="selectedColors" multiple>
    @for (color of colorList; track color) {
      <mat-option [value]="color">{{color}}</mat-option>
    }
  </mat-select>
</mat-form-field>

<hr>


<hr>
<hr>
<hr>
<hr>
<hr>


<table mat-table [dataSource]="dataSource" matSort>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Progress Column -->
  <ng-container matColumnDef="progress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
    <td mat-cell *matCellDef="let element">{{element.progress}}</td>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
    <td mat-cell *matCellDef="let element">{{element.color}}</td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
